
@media screen and (max-width: 850px) {
    .buttonsmo {
        display: block;
    }
    .navbar3 {
        display: none;
    }
    .navbar2 {
        display: flex;
    }

    .final {
        display: none;
    }
    
    .conteudo {
        display: none;
    }

    .conteudomobile {
        display: flex;
    }

    .conteudosearch {
        display: none;
    }
    
   
}


@media screen and (max-width: 700px) {
    .navlogo2 img {
        width: 100px;
        
    }

    .buttonsarea label:first-child {
        margin-left: 12%;
        margin-top: 30px;
    }
    
    .buttonsarea label:nth-child(2) {
        margin-top: 20px;
    }
    
    .buttonsarea label:last-child {
        margin-right: 12%;
        margin-top: 30px;
    }

    .sbtt img {
        width: 30px;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s ease;
    
    }
    
    .sbtt:nth-child(1) img {
        width: 25px;
    }
}





















@media screen and (max-width: 500px) {
    .navlogo2 img {
        width: 100px;
        
    }

    .buttonsarea label:first-child {
        margin-left: 11%;
        margin-top: 30px;
    }
    
    .buttonsarea label:nth-child(2) {
        margin-top: 20px;
    }
    
    .buttonsarea label:last-child {
        margin-right: 11%;
        margin-top: 30px;
    }

    .sbtt img {
        width: 30px;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s ease;
    
    }
    
    .sbtt:nth-child(1) img {
        width: 25px;
    }
}








@media screen and (max-width: 460px) {
    .navlogo2 img {
        width: 100px;
        
    }


    .buttonsmo {
        
        height: 65px;
        
       
    }

    .buttonsarea label:first-child {
        margin-left: 11%;
        margin-top: 30px;
    }
    
    .buttonsarea label:nth-child(2) {
        margin-top: 20px;
    }
    
    .buttonsarea label:last-child {
        margin-right: 11%;
        margin-top: 30px;
    }

    .sbtt img {
        width: 25px;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s ease;
    
    }
    
    .sbtt:nth-child(1) img {
        width: 20px;
    }
}





@media screen and (max-width: 380px) {
    .navlogo2 img {
        width: 100px;
        
    }


    .buttonsmo {
        
        height: 65px;
        
       
    }

    .buttonsarea label:first-child {
        margin-left: 11%;
        margin-top: 30px;
    }
    
    .buttonsarea label:nth-child(2) {
        margin-top: 20px;
    }
    
    .buttonsarea label:last-child {
        margin-right: 11%;
        margin-top: 30px;
    }

    .sbtt img {
        width: 25px;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s ease;
    
    }
    
    .sbtt:nth-child(1) img {
        width: 20px;
    }
}

